Problem 1: Tuple Basics

Create a tuple named student_info that contains the following information in this order:

Name: "Alice"

Age: 20

Major: "Computer Science"

Then, print the tuple and its length.

In [ ]:
student_info = ('Alice',20,"Computer Science")

In [ ]:
student_info

('Alice', 20, 'Computer Science')

In [ ]:
len(student_info)

3

Problem 2: Access Tuple Elements

Given the tuple student_info from Problem 1, write code to:

Print only the student's name.

Print the major using negative indexing

In [ ]:
student_info[0]

'Alice'

In [ ]:
student_info[-1]

'Computer Science'

Problem 3: Tuple Unpacking

Unpack the values of student_info into three separate variables: name, age, and major, and print each of them.

In [ ]:
name = student_info[0]
age = student_info[1]
major = student_info[2]

In [ ]:
name

'Alice'

In [ ]:
age

20

In [ ]:
major

'Computer Science'

unpacking tuple different tuple method

In [ ]:
name,age,major = student_info

Problem 4: Iterate Over a Tuple

You are given a tuple of numbers:

numbers = (2, 5, 8, 3, 7)


Write a loop that prints each element of the tuple along with its square.

In [ ]:
numbers = (2, 5, 8, 3, 7)

In [ ]:
type(numbers)

tuple

In [ ]:
for square in numbers:
  print(square**2)

4
25
64
9
49

In [ ]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Problem 5: Tuple Method
Initilize a tuple and using a tuple method

In [ ]:
food = ("biryani",250,"pizza",600,"burger",450,"cake",700,'pizza large',1200)

In [ ]:
food.count("pizza")

1

In [ ]:
food.index(600)

3